* {
    margin: 0;
    padding: 0;
    font-family: Aeonik;
}

:root {
    --primary: #57B3BD;
    --secondary: #FF694E;
    --text: #272F3A;
    --button: #3399FD;
    --background-primary: #F2F2F5;
}

@font-face {
    font-family: Aeonik;
    src: url(Assets/Aeonik/Aeonik-Light.ttf);
    font-weight: 200;
}

@font-face {
    font-family: Aeonik;
    src: url(Assets/Aeonik/Aeonik-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: Aeonik;
    src: url(Assets/Aeonik/Aeonik-Bold.ttf);
    font-weight: bold;
}

/* Headings */

h1 {
    color: var(--text);
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.32px;
    text-wrap: balance;
}

h2 {
    color: var(--text);
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    line-height: 40px;
    letter-spacing: 0.25px;
}

h3 {
    color: #000;
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
    font-size: 41px;
    font-style: normal;
    font-weight: 700;
    line-height: 50.5px;
    letter-spacing: 0.41px;
}

h4 {
    color: #000;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

h5 {
    color: #FFF;
    font-size: 18px;
    font-weight: normal;
    line-height: 24px;
    letter-spacing: 0.18px;
}

p {
    color: #000;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.15px;
}

/* Global Styles */

.btn-primary {
    /* Layout */
    display: flex;
    padding: 15px 50px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: fit-content;

    /* Style */
    border-radius: 58px;
    background: var(--button);
    box-shadow: 0px 8px 16px 0px rgba(51, 153, 253, 0.32);

    /* Typography */
    color: white;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.16px;
}

.btn-secondary {
    /* Layout */
    display: flex;
    padding: 15px 50px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: fit-content;

    /* Style */
    border-radius: 58px;
    background: #FFF;

    /* Typography */
    color: var(--primary);
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.16px;
}


.section-wrapper {
    /* Used to align inner sections center */
    display: flex;
    justify-content: center;
}

/* Menu */

menu {
    box-shadow: 0px -1px 0px 0px #E6E9F0 inset;
}

#menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 60px;
    width: 1000px;
}

nav {
    display: flex;
    gap: 24px;
}

a {
    font-family: Aeonik;
    color: var(--text);
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
    text-decoration: none;
}

/* Hero Section */

#hero-section {
    background-color: var(--primary);
}

#hs-inner {
    min-height: 540px;
    display: flex;
    align-items: center;
    padding: 30px 50px;
    width: 1000px;
}

#hs-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#chatbot {
    background: var(--background-primary);
    width: 50%;
    height: 450px;
    border-radius: 15px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.15);
}

/* Tools */

#tools {
    background: var(--background-primary);
}

#ts-inner {
    padding: 120px 50px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    width: 1000px;
}

#ts-grid {
    display: flex;
    flex-direction: row;
    gap: 30px;
    max-width: 900px;
}

.ts-item {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
}

.ts-item img {
    height: 100px;
    margin-bottom: 15px;
}

/* Banner */

#banner {
    background: var(--background-primary);
    padding: 0 50px 70px 50px;
}

#br-inner {
    max-width: 1000px;
    background-color: var(--primary);
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 60px;
    justify-content: space-between;
}

#br-inner div {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* Footer */

footer {
    background-color: #0C1C2C;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 40px 50px 12px 50px;
}

footer img {
    width: 170px;
}

ul {
    /* Layout */
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 15px;

    /* Typography */
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.18px;
    margin-bottom: 30px;
}

footer p {
    color: rgba(255, 255, 255, 0.45);
    text-align: center;
    font-family: Aeonik;
    font-size: 14px;
    font-style: normal;
    font-weight: 200;
    line-height: 24px;
    letter-spacing: 0.9px;
}

/* --------------------------- */
/* --- Mobile Optimisation --- */
/* --------------------------- */

/* Phones */
@media only screen and (max-width: 767px) {

    /* Menu */
    #menu {
        padding: 12px 15px 12px 20px;
    }

    menu nav {
        display: none;
    }

    menu .btn-primary {
        padding: 15px 30px;
    }

    /* Hero Section */
    #hs-inner {
        flex-direction: column;
        padding: 50px 30px;
        gap: 50px;
    }

    #hs-content {
        gap: 25px;
    }

    #chatbot {
        width: 100%;
    }

    /* Tools */
    #ts-inner {
        padding: 80px 30px;
        gap: 60px;
    }

    #ts-grid {
        flex-direction: column;
        width: 80%;
        gap: 50px;
    }

    /* Banner */
    #banner {
        padding: 30px 30px 50px 30px;
    }

    #br-inner {
        flex-direction: column-reverse;
        padding: 0px;
    }
    
    #br-inner div {
        padding: 30px;
    }

    #banner img {
        width: 100%;
    }

    h3 {
        font-size: 24px;
        line-height: 34px;
    }

    /* Footer */
    footer {
        gap: 50px;
    }

    footer ul {
        flex-direction: column;
        line-height: 14px;
        gap: 15px;
        margin-bottom: 0;
    }

    .ul-mobile-divider {
        display: none;
    }

    footer p {
        font-size: 12px;
    }

}

/* Small desktops and tablets */
@media only screen and (min-width: 768px) and (max-width: 991px) {
}
