* {
    margin: 0;
    padding: 0;
    font-family: Aeonik;
}

:root {
    --primary: #57B3BD;
    --secondary: #FF694E;
    --text: #272F3A;
    --button: #3399FD;
    --background-primary: #F2F2F5;
}

@font-face {
    font-family: Aeonik;
    src: url(Assets/Aeonik/Aeonik-Light.ttf);
    font-weight: 200;
}

@font-face {
    font-family: Aeonik;
    src: url(Assets/Aeonik/Aeonik-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: Aeonik;
    src: url(Assets/Aeonik/Aeonik-Bold.ttf);
    font-weight: bold;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

/* Headings */

h1 {
    color: var(--text);
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.32px;
    text-wrap: balance;
}

h2 {
    color: var(--text);
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    line-height: 40px;
    letter-spacing: 0.25px;
}

h3 {
    color: #000;
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
    font-size: 41px;
    font-style: normal;
    font-weight: 700;
    line-height: 50.5px;
    letter-spacing: 0.41px;
}

h4 {
    color: #000;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

h5 {
    color: #FFF;
    font-size: 18px;
    font-weight: normal;
    line-height: 24px;
    letter-spacing: 0.18px;
}

p {
    color: #000;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.15px;
}

/* Global Styles */

.btn-primary {
    /* Layout */
    display: flex;
    padding: 15px 50px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: fit-content;

    /* Style */
    border-radius: 58px;
    background: var(--button);
    box-shadow: 0px 8px 16px 0px rgba(51, 153, 253, 0.32);

    /* Typography */
    color: white;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.16px;
}

.btn-secondary {
    /* Layout */
    display: flex;
    padding: 15px 50px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: fit-content;

    /* Style */
    border-radius: 58px;
    background: #FFF;

    /* Typography */
    color: var(--primary);
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.16px;
}


.section-wrapper {
    /* Used to align inner sections center */
    display: flex;
    justify-content: center;
}

/* Menu */

menu {
    box-shadow: 0px -1px 0px 0px #E6E9F0 inset;
}

#menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 60px;
    width: 1000px;
}

nav {
    display: flex;
    gap: 24px;
}

a {
    font-family: Aeonik;
    color: var(--text);
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
    text-decoration: none;
}

/* Hero Section */

#hero-section {
    background-color: var(--primary);
}

#hs-inner {
    min-height: 540px;
    display: flex;
    align-items: center;
    padding: 30px 50px;
    width: 1000px;
}

#hs-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

/* Tools */

#tools {
    background: var(--background-primary);
}

#ts-inner {
    padding: 120px 50px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    width: 1000px;
}

#ts-grid {
    display: flex;
    flex-direction: row;
    gap: 30px;
    max-width: 900px;
}

.ts-item {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
}

.ts-item img {
    height: 100px;
    margin-bottom: 15px;
}

/* Banner */

#banner {
    background: var(--background-primary);
    padding: 0 50px 70px 50px;
}

#br-inner {
    max-width: 1000px;
    background-color: var(--primary);
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 60px;
    justify-content: space-between;
}

#br-inner div {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* Footer */

footer {
    background-color: #0C1C2C;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 40px 50px 12px 50px;
}

footer img {
    width: 170px;
}

ul {
    /* Layout */
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 15px;

    /* Typography */
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.18px;
    margin-bottom: 30px;
}

footer p {
    color: rgba(255, 255, 255, 0.45);
    text-align: center;
    font-family: Aeonik;
    font-size: 14px;
    font-style: normal;
    font-weight: 200;
    line-height: 24px;
    letter-spacing: 0.9px;
}

/* --------------------------- */
/* --------- Chatbot --------- */
/* --------------------------- */

/* Title Bar */
#chatbot {
    background: var(--background-primary);
    width: 50%;
    border-radius: 15px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.15);
}

#cb-header {
    /* Layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    /* Style */
    padding: 15px 25px;
    border-radius: 15px 15px 0 0;
    background-color: #424343;
}

#window-nav {
    display: flex;
    flex-direction: row;
    gap: 7px;
}

#window-nav div {
    height: 12px;
    width: 12px;
    border-radius: 50%;
}

.red {
    background-color: #EE6A5F;
    border: solid 0.5px #CE5347;
    box-shadow: 0px 0px 6px 0px #EC6D62 inset;
}

.orange {
    background-color: #F5BD4F;
    border: solid 0.5px #D6A243;
    box-shadow: 0px 0px 6px 0px #F5C451 inset;
}

.green {
    background-color: #61C454;
    border: solid 0.5px #58A942;
    box-shadow: 0px 0px 6px 0px #68CC58 inset;
}

/* Conversation */
#cb-conversation {
    display: flex;
    flex-direction: column;
    gap: 25px;
    height: 300px;
    padding: 30px 20px 20px 20px;
}

.cb-bot_message {
    /* Message Box */
    width: 75%;
    padding: 15px;
    background-color: #fff;
    border-radius: 7px;

    /* Typography */
    color: #000;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    letter-spacing: 0.14px;
}

.cb-user_message {
    /* Message Box */
    width: 75%;
    padding: 15px;
    background: linear-gradient(98deg, #228D99 0%, #57B3BD 89.04%);
    border-radius: 7px;
    align-self: flex-end;

    /* Typography */
    color: #fff;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    letter-spacing: 0.14px;
}

/* Compose */
#cb-compose {
    border-top: 1px solid rgba(0, 0, 0, 0.20);
    background: #fff;
    padding: 20px 30px 20px 20px;
    border-radius: 0 0 15px 15px;
}

#cb-compose-message-form {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

#cb-compose-message-field {
    border: none;
    outline: none;
    resize: vertical;

    /* Typography */
    color: #000;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    letter-spacing: 0.14px;
    opacity: 0.6;
}

#cb-send-message-btn {
    background: none;
    border: none;
    cursor: pointer;
}

#cb-send-message-btn img {
    -webkit-user-drag: none !important;
}

/* --------------------------- */
/* --- Mobile Optimisation --- */
/* --------------------------- */

/* Phones */
@media only screen and (max-width: 767px) {

    /* Menu */
    #menu {
        padding: 12px 15px 12px 20px;
    }

    menu nav {
        display: none;
    }

    menu .btn-primary {
        padding: 15px 30px;
    }

    /* Hero Section */
    #hs-inner {
        flex-direction: column;
        padding: 50px 30px;
        gap: 50px;
    }

    #hs-content {
        gap: 25px;
    }

    /* Tools */
    #ts-inner {
        padding: 80px 30px;
        gap: 60px;
    }

    #ts-grid {
        flex-direction: column;
        width: 80%;
        gap: 50px;
    }

    /* Banner */
    #banner {
        padding: 30px 30px 50px 30px;
    }

    #br-inner {
        flex-direction: column-reverse;
        padding: 0px;
    }

    #br-inner div {
        padding: 30px;
    }

    #banner img {
        width: 100%;
    }

    h3 {
        font-size: 24px;
        line-height: 34px;
    }

    /* Footer */
    footer {
        gap: 50px;
    }

    footer ul {
        flex-direction: column;
        line-height: 14px;
        gap: 15px;
        margin-bottom: 0;
    }

    .ul-mobile-divider {
        display: none;
    }

    footer p {
        font-size: 12px;
    }

}